---
import { type CollectionEntry, getCollection, render } from "astro:content";
import FormattedDate from "../../components/FormattedDate.astro";
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
	const posts = await getCollection("blog");
	return posts.map((post) => ({
		params: { slug: post.id },
		props: post,
	}));
}
type Props = CollectionEntry<"blog">;

const post = Astro.props;
const { Content } = await render(post);

const prevPost = (await getCollection("blog"))
	.filter((p) => p.data.date < post.data.date)
	.sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())[0];
const nextPost = (await getCollection("blog"))
	.filter((p) => p.data.date > post.data.date)
	.sort((a, b) => a.data.date.valueOf() - b.data.date.valueOf())[0];
---

<Layout title=`${post.data.title}` image={post.data.heroImage} description={post.data.description}>
	<div class="mb-6 space-y-2">
		<h2 class="font-bold">{post.data.title}</h2>
		<div class="text-sm text-gray-600 grid grid-rows-2">
    		<div class="flex flex-wrap gap-2 mt-2">
				{
					post.data.tags?.map((tag) => (
						<a
							href={`/tags/${tag}`}
							class="bg-gray-200 text-gray-800 text-xs font-semibold mr-2 px-2.5 py-0.5 rounded hover:bg-gray-300"
						>
							#{tag}
						</a>
					))
				}
			</div>
			<div class="flex items-center gap-2">
				<FormattedDate date={post.data.date} />
				{
					post.data.updatedDate && (
						<div class="last-updated-on">
							( Last updated on{" "}
							<FormattedDate date={post.data.updatedDate} />)
						</div>
					)
				}
			</div>
		</div>
		<hr />

		<article id="article-content">
			<Content />
		</article>
	</div>
	
	<hr class="my-8" />

	<nav class="grid justify-between grid-cols-1 md:grid-cols-2 gap-4">
		{
			prevPost && (
				<a
					href={`/blog/${prevPost.id}/`}
					class="text-left hover:underline"
				>
					← {prevPost.data.title}
				</a>
			)
		}
		{
			nextPost && (
				<a
					href={`/blog/${nextPost.id}/`}
					class="text-right hover:underline"
				>
					{nextPost.data.title} →
				</a>
			)
		}
	</nav>
</Layout>
