---
import { getCollection } from "astro:content";
import Card from "../../components/Card.astro";
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths({}) {
  const all_posts = await getCollection("blog");
  const tags = [
    ...new Set(all_posts.map((post) => post.data?.tags).flat()),
  ].filter((tag) => tag);
  return Array.from(tags).map((tag) => {
    const posts = all_posts.filter((post) => post.data?.tags?.includes(tag));
    return {
      params: { tag },
      props: { tag, posts },
    };
  });
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---

<Layout title=`#${tag}`>
  <div class="flex items-center">
    <h3 class="">Posts tagged with &nbsp;</h3>
    <h3
      class="bg-gray-200 text-gray-800 text-xs font-semibold mr-2 px-2.5 py-0.5 rounded"
    >
      #{tag}
    </h3>
  </div>
  <div class="grid md:grid-cols-2 gap-8 mt-12">
    {
      posts.map((post) => (
        <Card
          title={post.data.title}
          date={post.data.date}
          updatedDate={post.data.updatedDate}
          heroImage={post.data.heroImage}
          id={post.id}
          tags={post.data.tags}
        />
      ))
    }
  </div>
</Layout>
