---
import { type CollectionEntry, getCollection, render } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";
import Layout from "../layouts/Base.astro";

export async function getStaticPaths() {
	const posts = await getCollection("blog");
	return posts.map((post) => ({
		params: { slug: post.id },
		props: post,
	}));
}
type Props = CollectionEntry<"blog">;

const post = Astro.props;
const { Content } = await render(post);

const prevPost = (await getCollection("blog"))
	.filter((p) => p.data.date < post.data.date)
	.sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())[0];
const nextPost = (await getCollection("blog"))
	.filter((p) => p.data.date > post.data.date)
	.sort((a, b) => a.data.date.valueOf() - b.data.date.valueOf())[0];

import "katex/dist/katex.min.css";
import Icon from "../components/Icon.astro";
---

<Layout
	title=`${post.data.title}`
	image={post.data.heroImage}
	description={post.data.description}
>
	<div class="">
		<h2 class="font-bold">{post.data.title}</h2>
		<div class="mb-3">
			<div class="block text-lg text-inactive-foreground my-4">
				<Icon name="calendar" size="1em" />
				<FormattedDate date={post.data.date} />
				{
					post.data.updatedDate && (
						<span>
							( Updated on&nbsp;
							<FormattedDate date={post.data.updatedDate} /> )
						</span>
					)
				}
			</div>

			<div class="flex flex-wrap gap-2">
				{
					post.data.tags?.map((tag) => (
						<a href={`/tags/${tag}`} class="bg-inactive-background text-inactive-foreground text-md font-semibold mr-2 px-2.5 py-0.5 rounded hover:bg-inactive-background-hover hover:scale-105 transition-transform">
							<Icon name="tag" size="1em" />
							{tag}
						</a>
					))
				}
			</div>
		</div>
		<hr class="my-4" />

		<article id="article-content">
			<Content />
		</article>
	</div>

	<hr class="my-4" />

	<script
		src="https://giscus.app/client.js"
		data-repo="xsuz/xsuz.github.io"
		data-repo-id="R_kgDOKd9vXg"
		data-category-id="DIC_kwDOKd9vXs4Cw25_"
		data-mapping="pathname"
		data-strict="0"
		data-reactions-enabled="0"
		data-emit-metadata="0"
		data-input-position="top"
		data-theme="preferred_color_scheme"
		data-lang="ja"
		crossorigin="anonymous"
		async></script>

	<hr class="my-4" />

	<nav class="grid justify-between grid-cols-1 md:grid-cols-2 gap-4">
		{
			prevPost && (
				<a
					href={`/${prevPost.id}/`}
					class="text-left hover:underline"
				>
					← {prevPost.data.title}
				</a>
			)
		}
		{
			nextPost && (
				<a
					href={`/${nextPost.id}/`}
					class="text-right hover:underline"
				>
					{nextPost.data.title} →
				</a>
			)
		}
	</nav>
</Layout>
