---
import Layout from "../layouts/Base.astro";
import Card from "../components/Card.astro";
import { getCollection } from "astro:content";

const sortedPosts = (await getCollection("blog"))
	.sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
	.slice(0, 3);
---

<Layout title="Home">
	<section class="text-center mt-12 mb-24">
		<h1 class="text-4xl font-bold mb-4">xsuz's blog</h1>
		<p class="text-lg text-inactive-foreground">Blog of me by me for me</p>
	</section>
	<section>
		<h1>Recent Posts</h1>
		<div class="grid md:grid-cols-3 gap-8 mt-8">
			{
				sortedPosts.map((post) => (
					<Card
						title={post.data.title}
						date={post.data.date}
						updatedDate={post.data.updatedDate}
						heroImage={post.data.heroImage}
						slug={post.id}
						tags={post.data.tags}
					/>
				))
			}
		</div>
		<div class="text-center mt-12 mb-12">
			<a
				href="/blog"
				class="bg-primary text-white font-semibold py-3 px-8 rounded-lg shadow-md transition hover:bg-primary-hover"
				>See all posts</a
			>
		</div>
	</section>
</Layout>