---
import FormattedDate from "./FormattedDate.astro";
import { Image, ImageMetadata } from "astro:assets";
import Icon from "./Icon.astro";
import "../styles/global.css";

type Props = {
    title: string;
    date: Date;
    updatedDate?: Date;
    heroImage?: ImageMetadata;
    id: string;
    tags?: [string];
};
const { title, date, updatedDate, id, tags, heroImage } = Astro.props;
---

<a
    href={`/blog/${id}`} 
    class="block p-6 max-w-full rounded-lg border border-primary shadow-md hover:scale-105 transition-transform duration-200"
>
    <span class="text-xl md:text-2xl lg:text-3xl font-bold my-2">
        {title}
    </span>

    <div class="block text-lg text-inactive-foreground my-2">
        <Icon name="calendar" size="1em" />
        <FormattedDate date={date} />
        {updatedDate && (
            <span>
                ( Updated on&nbsp;
                <FormattedDate date={updatedDate} /> )
            </span>
        )}
    </div>

    <div class="flex flex-wrap gap-2 mt-3">
        {
            tags?.map((tag) => (
                <div class="bg-inactive-background text-inactive-foreground text-md font-semibold mr-2 px-2.5 py-0.5 rounded">
                    <Icon name="tag" size="1em" />{tag}
                </div>
            ))
        }
    </div>
</a>
