---
import FormattedDate from "./FormattedDate.astro";
import { Image, ImageMetadata } from "astro:assets";
import "../styles/global.css";

type Props = {
    title: string;
    date: Date;
    updatedDate?: Date;
    heroImage?: ImageMetadata;
    id: string;
    tags?: [string];
};
const { title, date, updatedDate, id, tags, heroImage } = Astro.props;
---

<a
    href={`/blog/${id}`} 
    class="block p-6 max-w-full rounded-lg border border-primary shadow-md hover:scale-105 transition-transform duration-200"
>
    <span class="text-xl font-semibold mb-2">
        <h5>{title}</h5>
    </span>

    <div class="block md:flex text-sm text-gray-600">
        <FormattedDate date={date} />
        {updatedDate && (
            <br />
            <span class="md:ml-3 text-gray-500">
                ( Updated on&nbsp;
                <FormattedDate date={updatedDate} /> )
            </span>
        )}
    </div>

    <div class="flex flex-wrap gap-2 mt-2">
        {
            tags?.map((tag) => (
                <div class="bg-button-background text-button-forground text-xs font-semibold mr-2 px-2.5 py-0.5 rounded">
                    #{tag}
                </div>
            ))
        }
    </div>
</a>
