---
import FormattedDate from "./FormattedDate.astro";
import { ImageMetadata } from "astro:assets";
import "../styles/global.css";

type Props = {
    title: string;
    date: Date;
    updatedDate?: Date;
    id: string;
    tags?: [string];
};
const { title, date, updatedDate, id, tags } = Astro.props;
---

<div
    class="block p-6 max-w-full bg-white rounded-lg border border-gray-200 shadow-md"
>
    <a href={`/blog/${id}`} class="text-xl font-semibold mb-2 hover:underline">
        <h5>{title}</h5>
    </a>

    <div class="flex items-center text-sm text-gray-600">
        <FormattedDate date={date} />
        {updatedDate && (
            <>
                <span class="mx-2">|</span>
                <span>Updated: </span>
                <FormattedDate date={updatedDate} />
            </>
        )}
    </div>

    <div class="flex flex-wrap gap-2 mt-2">
        {
            tags?.map((tag) => (
                <div class="bg-gray-200 text-gray-800 text-xs font-semibold mr-2 px-2.5 py-0.5 rounded">
                    #{tag}
                </div>
            ))
        }
    </div>
</div>
